version: "3.7"

services:
  # in dev we want to use watch assets and recompile on the fly
  # also we want to build at start time in case some files changed, as we want to avoid recreating volumes
  taxonomy_api:
    image: taxonomy-editor/taxonomy_backend:dev
    build:
      context: .
      dockerfile: backend/Dockerfile
      # align user id
      args:
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
        DEVELOPMENT: true
    volumes:
      # in development mode, mount code directory dynamically
      - ./backend/editor:/code/editor
      - ./backend/tests:/code/tests
      - ./parser:/parser
      # for linting / checks purpose
      - ./backend/pyproject.toml:/code/pyproject.toml
      - ./backend/setup.cfg:/code/setup.cfg
    # uvicorn with live reload
    command:
      [
        "uvicorn",
        "editor.api:app",
        "--host",
        "0.0.0.0",
        "--port",
        "80",
        "--reload",
        "--reload-dir",
        "/parser",
        "--reload-dir",
        "/code/editor",
      ]

  taxonomy_node:
    image: taxonomy-editor/taxonomy_node:dev
    build:
      # the node js stuff is in builder
      context: taxonomy-editor-frontend
      target: builder
      args:
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
    environment:
      - REACT_APP_API_URL=//api.${TAXONOMY_EDITOR_DOMAIN}${PUBLIC_TAXONOMY_EDITOR_PORT:-80}/
      - WDS_SOCKET_HOST=ui.${TAXONOMY_EDITOR_DOMAIN}
      - WDS_SOCKET_PORT=${WDS_SOCKET_PORT:-80}
      - TAXONOMY_EDITOR_DOMAIN
      - NODE_ENV=development
      # avoid host check in dev
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
    # this is the command to run dev server
    command: ["npm", "start"]
    volumes:
      # dynamic mount
      - ./taxonomy-editor-frontend/build:/opt/taxonomy-editor/build
      - ./taxonomy-editor-frontend/public:/opt/taxonomy-editor/public
      - ./taxonomy-editor-frontend/src:/opt/taxonomy-editor/src
      - ./taxonomy-editor-frontend/tsconfig.js:/opt/taxonomy-editor/tsconfig.js
      - ./taxonomy-editor-frontend/webpack.config.js:/opt/taxonomy-editor/webpack.config.js
  taxonomy_frontend:
    image: taxonomy-editor/taxonomy_frontend:dev
    # instruction to build locally
    build:
      context: taxonomy-editor-frontend
      args:
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
    environment:
      # by default, disabling prod ui config and enabling node one
      # you can change this settings to try the prod configuration,
      # by setting PROD_UI_SUFFIX to "" and DEV_UI_SUFFIX to "-dev"
      PROD_UI_SUFFIX: "${PROD_UI_SUFFIX--static}"
      DEV_UI_SUFFIX: "${DEV_UI_SUFFIX-}"
