version: "3.7"

services:
  # in dev we want to use watch assets and recompile on the fly
  # also we want to build at start time in case some files changed, as we want to avoid recreating volumes
  taxonomy_api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes:
      # in development mode, mount code directory dynamically
      - ./backend/editor:/code/editor
      - ./parser:/parser
  taxonomy_node:
    image: taxonomy-editor/taxonomy_node:dev
    build:
      # the node js stuff is in builder
      context: taxonomy-editor-frontend
      target: builder
      args:
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
    environment:
      - REACT_APP_API_URL=//api.${TAXONOMY_EDITOR_DOMAIN}:${TAXONOMY_EDITOR_PORT:-80}/
      - WDS_SOCKET_HOST=ui.${TAXONOMY_EDITOR_DOMAIN}
      - WDS_SOCKET_PORT=${TAXONOMY_EDITOR_PORT:-80}
      - TAXONOMY_EDITOR_DOMAIN
      - NODE_ENV=development
      # avoid host check in dev
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
    # this is the command to run dev server
    command: ["npm", "start"]
    volumes:
      # dynamic mount
      - ./taxonomy-editor-frontend/public:/opt/taxonomy-editor/public
      - ./taxonomy-editor-frontend/src:/opt/taxonomy-editor/src
  taxonomy_frontend:
    image: taxonomy-editor/taxonomy_frontend:dev
    # instruction to build locally
    build:
      context: taxonomy-editor-frontend
      args:
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
    environment:
      # disabling prod ui config
      PROD_UI_SUFFIX: "-static"
    volumes:
      # mount public folder dynamically
      - ./taxonomy-editor-frontend/public:/opt/taxonomy-editor/public
  taxonomy-backend:
    image: taxonomy-editor/taxonomy_backend:dev
    build:
      context: backend
      # align user id
      args:
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
