name: Docker Image Build CI

on:
  push:
    branches:
      - main
      - deploy-*
    tags:
      - v*.*.*

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image_name:
          - taxonomy_frontend
          - taxonomy_api
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Set various env variables for frontend
        if: matrix.image_name == 'taxonomy_frontend'
        run: |
          echo "build_context=taxonomy-editor-frontend" >> $GITHUB_ENV
          echo "build_file=taxonomy-editor-frontend/Dockerfile" >> $GITHUB_ENV

      - name: Set various env variables for api
        if: matrix.image_name == 'taxonomy_api'
        run: |
          # context is . for we need the parser directory
          echo "build_context=." >> $GITHUB_ENV
          echo "build_file=backend/Dockerfile" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v0.6.0
          buildkitd-flags: --debug

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}/${{ matrix.image_name }}
          tags: |
            type=semver,pattern={{version}}
            type=ref,event=pr
            type=ref,event=branch
            type=sha,format=long

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.build_context }}
          push: true
          file: ${{ env.build_file }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/${{ matrix.image_name }}:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository }}/${{ matrix.image_name }}:buildcache,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
